numpy
matplotlib
jupyterlab
PyYaml
tqdm
wandb
imageio
seaborn
pygame
scipy
pygraphviz
torch
torchvision
torchaudio
hmmlearn

# Install also (see `install.md`):
#   1. Our fork of the htm.core
#   2. [Optional] CoppeliaSim + PyRep
#   3. [Optional] AnimalAI
#   4. [Optional] Pinball
